@keyframes slideleft {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
        max-height: 700px;
    }
}

.btnSNS {
    font-family: var(--font-poppins) !important;
    background-color: var(--color-offblack);
    border: 1px solid transparent;
    color: var(--color-offwhite);
    width: 100%;
    padding: 8%;
    margin: 5%;
    font-size: 1.3rem;
}

.btnSNS:hover, .btnSNS:active, .btnSNS:focus-within {
    border-color: var(--color-beige);   
    background-color: #5b5757;
    transition: all 0.2s ease-in;
}

.btnEdit, .btnEdit:focus-within {
    color: var(--color-beige) !important;
}

.btnEdit:hover, .btnEdit:active {
    color: var(--color-offwhite) !important;
}

.btnNotEdit, .btnNotEdit:focus-within {
    color: var(--color-offwhite) !important;
}

.btnNotEdit:hover, .btnNotEdit:active {
    color: var(--color-beige) !important;
}

.btnDelete{
    color: rgb(229 54 54) !important;
}

.active {
    background-color: var(--color-offblack);
    border: 1px solid #262424;
}

.default {
    background-color: transparent;
    border: 1px solid transparent;
}

.priceBorder {
    border-top: 1px dotted #6f6363;
}

.fontSourceCode {
    font-family: var(--font-src-code);
}

.itemContainer {
    border-radius: 1.5rem !important;
    transition: all 0.2s ease-in;
    opacity: 0;
    animation: slideleft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.itemContainer > button {
    background-color: var(--color-offblack) !important;
    border-radius: 1.5rem !important;
}