.orderContainer {
    min-height: 40vh;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.typeTitle {
    font-size: 2.5rem;
}

.btnNav {
    font-family: var(--font-playfair) !important;
    background-color: var(--color-beige) !important;
    border: 0px !important;
    color: var(--color-offblack) !important;
}

.checkoutContainer {
    background-color: var(--color-offblack);
    border-radius: 1.5rem;
}

.wrapper {
    min-height: 90vh;
  }