@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;600;700;800&family=Source+Code+Pro&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-src-code: 'Source Code Pro', monospace;
  --font-playfair: 'Playfair Display', serif;

  --color-black: #1b1919;
  --color-offblack: #373434;
  --color-silver: #8B939C;
  --color-offwhite: #F8F0F0;
  --color-beige: #FCB353;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--color-black);
  overflow-x: hidden;
}

#__next,
#__next > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
  color: var(--color-beige);
}

p {
  color: var(--color-offwhite);
}
