.tableStyle {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    position: relative;
    float: left;

}

.tableStyle thead tr {
    background-color: #FCB353;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.tableStyle th,
.tableStyle td {
    padding: 8px 10px;
}

.tableStyle tbody tr {
    border-bottom: 1px solid white;

}

.tableStyle tbody tr:nth-of-type(even) {
    background-color: #ffe3bf;
}

.tableStyle tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.tableStyle tbody tr:last-of-type {
    border-bottom: 2px solid #FCB353;
}

.tableStyle tbody tr:hover {
	background-color:#FCB353;
}

.title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#FCB353;
    border-collapse: collapse;
    margin: auto;
    float: left;
}

.tableWrapper {
    max-height: 550px;
    overflow-y: scroll;
}

.header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#FCB353;
    border-collapse: collapse;
    text-align: left;
    margin: auto;
}

.header1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#FCB353;
    border-collapse: collapse;
    float: right;
    vertical-align: top;
    text-align: right;
}

.button {
    background-color: #FCB353;
    color: white;
    border: black;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5%;
    display: inline-block;
}

.loginStyle {
    border-radius: 10%;
}

.next {
    display: inline-block;
}

.tableStyle1 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.next {
    display: inline-block;
}

.tableStyle1 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.next {
    display: inline-block;
}

.scrollable {
    max-height: 500em;
}

.tableStyle thead button {
    background-color: #FCB353;
    color: black;
	border: 0;
	border-radius: none;
	font-family: inherit;
	font-weight: 700;
	font-size: inherit;
	padding: 0.5em;
	margin-bottom: 1px;
}

.tableStyle thead button:hover{
    background-color: #ff9100;
}

.tableStyle thead button.ascending::after {
	content: '👇';
	display: inline-block;
	margin-left: 1em;
}
  
.tableStyle thead button.descending::after {
	content: '☝️';
	display: inline-block;
	margin-left: 1em;
}