.btnNav {
  font-family: var(--font-playfair) !important;
  background-color: var(--color-beige) !important;
  border: 0px !important;
  color: var(--color-offblack) !important;
}

.menuItemBtn {
  font-size: 1.1rem !important;
}